html {
  font-family: Roboto;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 1rem 1rem;
}

* {
  margin: 0;
  padding: 0;
}

.call_to_action {
  background-color: #3882f6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  border-radius: 0.5rem;
  padding: 2.5rem 0rem;
}

.call_to_action button {
  background-color: transparent;
  border: 2px solid white;
}

button {
  padding: 0.5rem 1.5rem;
  color: white;
  border-radius: 0.5rem;
  border: 2px solid #3882f6;
  background-color: #3882f6;
  font-weight: bold;
}

header,
footer {
  background-color: #1f2937;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0rem;
}

nav h3 {
  font-size: 24px;
  color: #f9faf8;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}
nav li a {
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 1rem;
}

section {
  padding: 2rem;
}

.hero {
  display: flex;
  justify-content: space-between;
  padding: 6rem 0rem;
  gap: 2rem;
}

.hero h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-heading p,
nav li a {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-heading {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.hero-image {
  background-color: #6d747d;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.quote {
  background-color: #e5e7eb;
  padding: 6rem;
  color: #1f2937;
}

.quote p {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  position: relative;
}

.quote p::after {
  content: '-Thor, God of Thunder';
  font-weight: bold;
  position: absolute;
  font-size: 24px;
  font-style: normal;
  width: fit-content;
  right: 3rem;
  bottom: -2.5rem;
}

.info {
  padding: 3rem 0rem;
}

.info h3 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
}

.info-box div {
  border: 2px solid #3882f6;
  border-radius: 0.5rem;
  height: 125px;
  width: 125px;
}

.info-boxes {
  display: flex;
  gap: 3rem;
  text-align: center;
  max-width: 750px;
  margin: auto;
  padding-top: 2rem;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
